<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th></th>
        <th>Day</th>
        <th>Week</th>
        <th>Month</th>
    </tr>
    <tr>
        <td>Number of users added</td>
        <td>{{ oneDayUser }}</td>
        <td>{{ oneWeekUser }}</td>
        <td>{{ oneMonthUser }}</td>
    </tr>
    <tr>
        <td>Number of API calls has been made</td>
        <td>{{ oneDayApi }}</td>
        <td>{{ oneWeekApi }}</td>
        <td>{{ oneWeekApi }}</td>
    </tr>
</table>
</body>
</html>